.skeleton {
  background-image: linear-gradient(
    105deg,
    #ddd5 5%,
    #0002,
    #ddd5,
    #0002,
    #ddd5 93%
  );
  animation: loading 2s linear infinite;
  background-size: 250% 250%;
}

@keyframes loading {
  100% {
    background-position: -250% 0%;
  }
}
